.header{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;
}
.header a{
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 30px;
}
.header a:hover{
    color: orange;
}